<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <form ng-submit="vm.addNewPoint()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Название новой точки маршрута (Enter)" ng-model="vm.newPointName">
                </div>
            </form>

            <ul my-sortable my-sortable-updated="vm.placemarksOrderChanged(startIndex, stopIndex)">
                <li ng-repeat="placemark in vm.placemarks">
                    <span ng-bind="placemark.name"></span>
                </li>
            </ul>
        </div>

        <div class="col-xs-8">
            <div my-yandex-map get-map="vm.getMap(map)" style="width:600px;height:400px" />
        </div>
    </div>
</div>